
* {
  outline: red dashed 1px;
  margin: 0;
  padding: 0;
}

.input-boxes {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

.boxes {
  margin: 0.5em;
}

.App {
  text-align: center;
}

.teams {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 0;
}

@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --Purple {
  font-family: Rocher;
  base-palette: 6;
}

.title {
  font-family: 'Rocher';
  text-align: center;
  font-size: 2em;
  font-palette: --Purple;
}

