
* {
  margin: 0;
  padding: 0;
  font-family: Rocher;
}

body {
  background-image: url("https://img.freepik.com/free-vector/illustration-scene-with-football-field-stadium_1308-37038.jpg?w=826&t=st=1688152556~exp=1688153156~hmac=80685bb9405d9f757166d0314131fc06389aa396063e5f5b8a0d398d41869f30g"); 
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-family: 'Rocher';
  text-align: center;
  font-size: 2em;
  font-palette: --Green;
}


.input-boxes {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

.boxes {
  margin: 0.5em;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(126, 252, 189, 0.7);
  text-align: center;
  font-family: Rocher;
  font-palette: --Orange;
}

button {
  padding: 0.2em;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #F7A66F;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  font-family: Rocher;
  font-palette: --Yellow;
}

button:hover {
  background-color: #AB7855;
}

.App {
  text-align: center;
}

.teams {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 0;
}

.team1 {
  border: 1px solid black;
  margin-top: 1rem;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 20px;
  background-color: rgba(250, 235, 215, 0.75);
  font-family: Rocher;
  font-palette: --Purple;
}

.team2 {
  border: 1px solid black;
  margin-top: 1rem;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  font-family: Rocher;
  font-palette: --Grey;
}

@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --Pink {
  font-family: Rocher;
  base-palette: 1;
}

@font-palette-values --Green {
  font-family: Rocher;
  base-palette: 2;
}

@font-palette-values --White {
  font-family: Rocher;
  base-palette: 3;
}

@font-palette-values --Blue {
  font-family: Rocher;
  base-palette: 4;
}

@font-palette-values --Yellow {
  font-family: Rocher;
  base-palette: 5;
}

@font-palette-values --Purple {
  font-family: Rocher;
  base-palette: 6;
}

@font-palette-values --Cyan {
  font-family: Rocher;
  base-palette: 7;
}

@font-palette-values --Orange {
  font-family: Rocher;
  base-palette: 8;
}

@font-palette-values --Grey {
  font-family: Rocher;
  base-palette: 9;
}

@font-palette-values --Cyan2 {
  font-family: Rocher;
  base-palette: 10;
}

@font-palette-values --Default {
  font-family: Rocher;
  base-palette: 11;
}

